doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  title Login
.jumbotron(style='background: DarkSeaGreen !important')
  h1 Login Page
  p Enter usename and password.
.row
  .col-md-1
  .col-md-10
    form#loginForm(name='login')
      label(for='username') Username:
      input#username(type='text' name='username' required='')
      label(for='password') Password:
      input#password(type='password' name='password' required='')
      button.btn.btn-block.btn-primary(type='submit') Login
  h1#error(style='display: none;') Login Error: Try Again
  .col-md-1
script.
  document.getElementById('loginForm').addEventListener("submit", function(e) {
  e.preventDefault();
  sendLogin();
  });
  function sendLogin() {
  var username = document.getElementById('username').value;
  var password = document.getElementById('password').value;
  var request = {
  method: 'POST',
  headers: {
  'Content-Type': 'application/json' // Specify JSON content type
  },
  body: JSON.stringify({ username, password })
  }
  console.log(request);
  fetch('/verifyLogin', request)
  .then(response => response.json())
  .then(responseJSON => {
  console.log(responseJSON);
  if (responseJSON.status) {
  window.location.href = '/schedule';
  } else {
  document.getElementById('error').style.display = 'block';
  document.getElementById('password').value = '';
  }
  });
  }
