doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  title My Schedule
nav.navbar.navbar-expanded.navbar-light.bg-light.mb-5
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='/index') Home
    li.nav-item.active
      a.nav-link.active(href='/schedule') Schedule
    li.nav-item
      a.nav-link(href='/addEvent')
        | Add
        | Event
    li.nav-item
      form#logout(name='logout' method='post' action='/logout')
        button Logout
.container.mb-5
  .alert.alert-secondary(role='alert')
    | Click on a day to see its events
.container.mb-3
  ul#days.nav.nav-tabs.nav-fill
    li.nav-item
      a#sunday.nav-link(onclick='formTable(this)') Sunday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Monday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Tuesday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Wednesday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Thursday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Friday
    li.nav-item
      a.nav-link(onclick='formTable(this)') Saturday
  br
  br
  .container
    table#scheduleTable.table.table-striped
      thead
        tr
          th(scope='col') Name
          th(scope='col') Time
          th(scope='col') Location
          th(scope='col') Phone
          th(scope='col') Extra Information
          th(scope='col') URL
      tbody
script.
  function formTable(element) {
  $('#days li a').removeClass("active");
  $(element).addClass("active");
  clearTable();
  var day = $(element).text().toLowerCase();
  if (day === '') {
  day = "sunday";
  $(sunday).addClass("active");
  }
  var request = {
  method: 'POST',
  headers: {
  'Content-Type': 'application/json' // Specify JSON content type
  },
  body: JSON.stringify({ day })
  }
  console.log(request);
  // Make Fetch request to the url "getSchedule" and pass the day as a query parameter
  fetch('/getSchedule', request)
  .then(response => response.json())
  .then(responseJSON => {
  // Print out the response string returned to the browser
  console.log(responseJSON);
  $.each(responseJSON[day], function(index, event){
  var row = $('<tr>');
  if (event.name != undefined) {
  row.append('<td>' + event.name + '</td>');
  } else {
  row.append('<td>' + event.event + '</td>');
  }
  row.append('<td>' + event.start + ' - ' + event.end + '</td>');
  row.append('<td>' + event.location + '</td>');
  row.append('<td>' + event.phone + '</td>');
  row.append('<td>' + event.info + '</td>');
  row.append('<td>' + event.url + '</td>');
  $('#scheduleTable').append(row);
  });
  });
  }
  function clearTable() {
  $('#scheduleTable tbody').empty();
  }
  $(document).ready(function() {
  formTable();
  });
